.preloader {
    background: var(--gray);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
    position: absolute;
    text-align: center;
  }

.preloader__content {
    position: relative;
    font-size: 200px;
    font-family: var(--post-bold);
}

@keyframes preloader {
    0%{

    };
    50%{

    };
    100%{

    };
}
